* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
}
header {
  position: sticky;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.95);
}
.bgc {
  background-image: url("../../src/assets/img/Background Hero.svg");
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100%;
}
main {
  height: 100%;
  margin: 1rem;
}
h1 {
  color: white;
  font-size: 4rem;
  margin: 1rem;
}
.btn1 {
  margin: 2rem;
  border: 2px solid black;
  color: black;
  background-color: yellow;
  font-size: larger;
  padding: 0.7rem 1rem;
  border-radius: 50px;
  font-weight: 600;
}
p {
  color: grey;
  font-size: larger;
  margin: 1rem;
}
.flex2 {
  width: 45%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.heading {
  color: yellow;
  font-size: larger;
  font-weight: 700;
  text-decoration: none;
}
header {
  width: 65%;
  border: 2px solid white;
  border-radius: 20px;
  margin: 1rem auto;
  padding: 1rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.admin {
  text-decoration: none;
  color: white;
}
.section1 {
  background-image: linear-gradient(rgb(25, 24, 24), black);
}
h2 {
  padding-top: 6rem;
  text-align: center;
  color: white;
  font-size: 3rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
img {
  height: 90px;
  width: 130px;
}
.flex3 {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  justify-content: space-evenly;
}
.imgs {
  margin: 0.8rem 4rem;
}
.btn2 {
  text-align: center;
  margin: 3rem;
  padding: 1rem 1.5rem;
  background-color: yellow;
  color: black;
  border-radius: 30px;
  font-size: larger;
}
.flx-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flx4 {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
}
.flx4 > .aq {
  color: aqua;
}
.flx4 > .p2 {
  color: white;
  font-weight: 500;
  font-size: 4rem;
}
.flx5 {
  display: flex;
  width: 80%;
  margin: auto;
}
.awardflx {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.flt {
  float: left;
  height: 40px;
  width: 40px;
}
h5 {
  color: white;
}
.db {
  height: 90%;
  width: 100%;
}
.center {
  margin-left: 3rem;
}
.list {
  margin-top: 0;
  font-size: x-large;
  color: white;
}
.awardflx div {
  margin-bottom: 1.5rem;
}
.awardflx div p {
  color: rgb(228, 231, 232);
}
.flx6 {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 1rem 0rem;
}
.flx6 > p {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  width: 100%;
}
.flx6 > div > p {
  font-size: 1.5rem;
  text-align: start;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.btny {
  background-color: yellow;
  border: 2px solid black;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.flxbtn {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.gap {
  margin: 0rem 1rem;
}
.gap > p {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.flxfoot {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}
.foot {
  font-size: 3rem;
  font-weight: 700;
  color: yellow;
}
.cpy {
  font-size: smaller;
}
span {
  color: white;
  padding: 0rem 1.5rem;
}
.flxfoot div a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 720px) {
  header {
    top: 0px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .flex2 {
    width: 100%;
    margin: 0;
  }
  .flx6 {
    width: 100%;
    margin: 0;
  }
  .flex4 {
    width: 100%;
  }
  .flx6 > p {
    font-size: 2rem;
  }
  .flx6 div p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1030px) {
  .flx5 {
    flex-wrap: wrap;
  }
  .flx6 {
    flex-wrap: wrap;
  }
  .flex2 {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 498px) {
  h1 {
    font-size: 3rem;
  }
  .flex2 {
    flex-direction: column;
  }
  .flx4 {
    width: 100%;
    padding: 1rem;
  }
  .flx4 > .p2 {
    font-size: 3rem;
    padding: 1rem;
  }
  .flx6 > p {
padding: 1rem;
  }
  .flx6 div p {
    font-size: 1.5rem;
padding: 1rem;  
}
.gap{
margin: 0;
}
.awardflx {
  padding: 0.5rem;
  justify-content: space-between;
}
.btny{
  padding: 0.3rem;
}
}
@media screen and (max-width: 280px) {
  h1 {
    font-size: 2rem;
  }
}